extends ../node_modules/pug-bootstrap/layouts/starter


append body
	.container
		table
			thead
				tr
					th Description
			tbody
				each row in data
					tr
						td=row["Name"]
						td=row["SUM (Quantity)"]
						td=row["SUM (Total)"]
		form(name="add-estimation", method="post")
			div.input
				input(type="text", name="status")
				input(type="text", name="name")
				input(type="text", name="quantity")
				input(type="text", name="price")
				input(type="submit", value="add")